* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0 auto;
}

:root {
	--color-light: #f5deb370;
	--color-dark: #383805be;
	--color-main: ;
	--ff-primary: "Lora", serif;
	/* --ff-secondary: ; */
	/* --fs-h1: ;
	--fs-h2: ; */
}

section {
	padding: 5em, 2em;
	/* padding-top: 50px; */
}

@media (min) {
}

.home {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.section__title {
	font-size: 3em;
	height: 1em;
	margin: 1rem auto;
}

.section__title strong {
	display: block;
	line-height: 2em;
}

.section__subtitle {
	background-color: aquamarine;
	height: 1.8em;
}

.about {
	height: 100vh;
	max-width: 1000px;
	padding-top: 50px;
}

.about__container {
	display: flex;
	justify-content: space-between;
	margin-top: 2vh;
	font-family: var(--ff-primary);
	font-size: 1.6em;
	line-height: 1.5em;
}

.about__left {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.section__text {
	margin-top: 1em;
	width: 70%;
}

.myPic {
	max-width: 70%;
	margin: 0;
}

.about__right {
	width: 100%;
}

/* @media (min-width: 600px) {
	.about {
		display: grid;
	}
} */

.skills {
	list-style: none;
	padding: 0;
}

.skills li {
	padding: 3.5vh 0;
}

.skills__container {
	display: flex;
}

.fa-html5 {
	background-color: rgb(253, 193, 82);
}

.skills li i {
	font-size: 2em;
}

.skills li p {
	font-family: var(--ff-primary);
	font-size: 1.4em;
	margin-left: 0.5em;
	display: inline;
}

.projects {
	background-color: ;
	color: black;
	text-align: center;
	padding-top: 50px;
}

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	max-width: 1000px;
}

.portfolio__img {
	transition: all 0.3s cubic-bezier(0.42, 0, 1, 0.38);
}

.portfolio__item {
	position: relative;

	border: 2px solid grey;
}

.portfolio__caption {
	position: absolute;
	top: 20%;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	font-size: 5vh;
	transition: all 0.3s cubic-bezier(0.42, 0, 1, 0.38);
}

.portfolio__item:hover .portfolio__img {
	opacity: 0.08;
}

.portfolio__item:hover .portfolio__caption {
	opacity: 1;
}

.btn {
	width: 30%;
	height: 10%;
	margin-top: 10vh;
	padding-bottom: 1.8em;
	text-align: center;
	font-size: 0.7em;
	color: black;
	background-color: aquamarine;
	border: 1px solid rgba(32, 32, 32, 0.226);
}

.contacts {
	text-align: center;
	padding: 2.5em 0;
	font-size: 3vh;
	padding-top: 50px;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 1em 0;
	padding: 0;
}

.social-list__item {
	margin: 0 1em;
}

#topBtn {
	display: none;
	position: fixed;
	z-index: 99;
	border-radius: 10px;
	background-color: #f6eabe;
	bottom: 20px;
	right: 30px;
}

/* light line that comes after title */
/* ::after {
	content: "";
	display: block;
	width: 3em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--color-light);
	opacity: 0.25;
} */
