* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--color-light: #f5deb370;
	--color-dark: #383805be;
	--color-main: ;
	--ff-primary: "Lora", serif;
	/* --ff-secondary: ; */
	/* --fs-h1: ;
	--fs-h2: ; */
}

section {
	padding: 5em, 2em;
	/* padding-top: 50px; */
}

@media (min) {
}

.home {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.section__title {
	font-size: 3em;
	height: 1em;
	margin: 1rem auto;
}

.section__title strong {
	display: block;
}

.section__subtitle {
	background-color: aquamarine;
	height: 1em;
}

.about {
	height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}

.about__container {
	display: flex;
	margin-top: 2vh;
}

.section__text {
	width: 50%;
	font-family: var(--ff-primary);
	font-size: 1.5em;
	line-height: 1.8em;
}

img {
	/* display: block; */

	max-width: 50%;
}

/* @media (min-width: 600px) {
	.about {
		display: grid;
	}
} */

.projects {
	background-color: ;
	color: black;
	text-align: center;
	padding-top: 50px;
}

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	max-width: 1000px;
	margin: 0 auto;
}

.portfolio__item {
	/* width: 50vw; */
}

.contacts {
	text-align: center;
	padding: 2.5em 0;
	font-size: 3vh;
	padding-top: 50px;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 1em 0;
	padding: 0;
}

.social-list__item {
	margin: 0 1em;
}

#topBtn {
	display: none;
	position: fixed;
	z-index: 99;
	border-radius: 10px;
	background-color: #f6eabe;
	bottom: 20px;
	right: 30px;
}

/* light line that comes after title */
/* ::after {
	content: "";
	display: block;
	width: 3em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--color-light);
	opacity: 0.25;
} */
