* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0 auto;
}

:root {
	--color-light: #f5deb370;
	--color-dark: #383805be;
	--color-main: ;
	--ff-primary: "Lora", serif;
	/* --ff-secondary: ; */
	/* --fs-h1: ;
	--fs-h2: ; */
}

section {
	padding: 5em, 2em;
	/* padding-top: 50px; */
}

@media (min) {
}

.navbar {
	height: 55px;
	font-size: 18px;
}

.home {
	text-align: center;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	padding-top: 40vh;
	height: 100vh;
	/* display: inline-block; */
	line-height: 2em;
	color: white;
	background: linear-gradient(
		to bottom right,
		rgb(177, 156, 217),
		/* rgb(240, 164, 162), rgb(122, 103, 230), */ rgb(102, 216, 231)
			/* rgb(166, 231, 255) */
			/* rgb(80, 113, 245),  rgb(178, 255, 255) /* rgb(191, 0, 255) */
	);
}

.opening {
	animation: show 5s infinite;
}

.name {
	animation: slide 5s infinite;
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide {
	0% {
		margin-top: -8000px;
	}
	20% {
		margin-top: -500px;
	}
	50% {
		margin-top: 0px;
	}
	100% {
		margin-top: 0;
	}
}

.section__title {
	font-size: 3em;
	height: 1em;
	margin: 1.8rem auto;
}

/* .section__title strong {
} */

.section__subtitle {
	background-color: aquamarine;

	height: 1.5em;
}

.about {
	height: 100vh;
	max-width: 1100px;
	/* padding-top: 50px; */
	padding: 50px 20px;
}

.about__container {
	display: flex;
	justify-content: space-between;
	margin-top: 2vh;
	font-family: var(--ff-primary);
	font-size: 1.6em;
	line-height: 1.5em;
}

.about__left {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.section__text {
	margin-top: 1em;
	width: 90%;
}

.myPic {
	max-width: 80%;
	margin: 0;
}

.about__right {
	width: 80%;
}

/* @media (min-width: 600px) {
	.about {
		display: grid;
	}
} */

.skills {
	list-style: none;
	padding: 0;
}

.skills li {
	padding: 3.5vh 0;
}

.skills__container {
	display: flex;
}

.fa-brands {
	border-radius: 6px;
	padding: 0.07em;
}

.fa-html5 {
	background-color: rgb(253, 193, 82);
}

.fa-css3-alt {
	background-color: rgb(30, 144, 255);
}

.fa-js {
	background-color: rgb(255, 255, 49);
}

.fa-react {
	background-color: rgb(0, 255, 255);
}

.fa-bootstrap {
	background-color: rgba(187, 148, 241, 0.986);
}

.fa-node-js {
	background-color: rgb(104, 248, 104);
}

.fa-envira {
	background-color: rgb(0, 153, 0);
}

.fa-git-alt {
	background-color: rgb(255, 99, 71);
}

.skills li i {
	font-size: 2em;
}

.skills li p {
	font-family: var(--ff-primary);
	font-size: 1.4em;
	margin-left: 0.5em;
	display: inline;
}

hr {
	border: 1px solid rgba(163, 152, 152, 0.486);
}

.projects {
	/* background-color: rgba(215, 215, 241, 0.2); */
	color: black;
	/* text-align: center; */
	max-width: 1100px;
	/* padding-top: 50px; */
	padding: 50px 20px;
}

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	max-width: 1000px;
}

.portfolio__img {
	transition: all 0.3s cubic-bezier(0.42, 0, 1, 0.38);
	width: 100%;
	height: 100%;
}

.portfolio__item {
	height: 60vh;
	position: relative;
	/* box-shadow: 0.5em 0.5em grey; */
	margin: 2em 2em;

	border-radius: 5px;
}

.portfolio__caption {
	text-align: center;
	position: absolute;
	top: 20%;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	font-size: 2em;
	padding: 0 2em;
	transition: all 0.3s cubic-bezier(0.42, 0, 1, 0.38);
}

.portfolio__item:hover {
	border: 4px solid aquamarine;
}

.portfolio__item:hover .portfolio__img {
	opacity: 0.08;
}

.portfolio__item:hover .portfolio__caption {
	opacity: 1;
}

.btn {
	width: 30%;
	height: 10%;
	margin-top: 8vh;
	padding-bottom: 1.8em;
	text-align: center;
	font-size: 0.7em;
	color: rgba(0, 0, 0, 0.733);
	background-color: rgba(127, 255, 212, 0.856);
	/* border: 1px solid rgba(32, 32, 32, 0.226); */
}

.contacts {
	text-align: center;

	font-size: 3vh;
	padding: 0.6em 0;

	margin: 0;
	line-height: 0.5em;
	background-color: rgb(104, 224, 184);
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 1em 0;
	padding: 0;
}

.social-list__item {
	margin: 0 1em;
}

.social-list__item i {
	/* color: rgb(71, 71, 71); */
	color: rgb(243, 239, 239);
	font-size: 1.4em;
}

.footnote {
	color: rgba(107, 104, 104, 0.753);
	font-size: 0.8em;
}

#topBtn {
	display: none;
	position: fixed;
	z-index: 99;
	border-radius: 10px;
	background-color: #f6eabe;
	bottom: 20px;
	right: 30px;
}

/* light line that comes after title */
/* ::after {
	content: "";
	display: block;
	width: 3em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--color-light);
	opacity: 0.25;
} */
